{
  "client_batch_num": 100,
  "enable_viewchange": true,
  "recovery_enabled": true,
  "not_need_signature": true,
  "max_client_complaint_num":10,
  "max_process_txn": 4096,
  "worker_num": 8,
  "input_worker_num": 5,
  "output_worker_num": 5,
  "recovery_ckpt_time_s": 60,
  "min_client_receive_num": 1,
  "raft_follower_batch_timeout_ms": 5
}
